[submodule "SquirrelDefender/modules/kf"]
	path = SquirrelDefender/modules/kf
	url = https://github.com/auralius/kalman-cpp.git
[submodule "SquirrelDefender/modules/trtinfer"]
	path = SquirrelDefender/modules/trtinfer
	url = https://github.com/crose72/trtinfer.git
[submodule "SquirrelDefender/modules/mcap"]
	path = SquirrelDefender/modules/mcap
	url = https://github.com/crose72/mcap_builder.git
