################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/SquirrelDefender/data
/SquirrelDefender/test_data
**/build*/
**/.cache/

# Clangd
.clangd/
.clang-tidy
.clang-format
compile_commands.json
*.clangd
*.clang-tidy
*.clang-format
verbose
