################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SquirrelDefender/out/build/x64-Debug
/SquirrelDefender/env_config.json
/SquirrelDefender/data
/SquirrelDefender/out/build/x64-Release
/SquirrelDefender/build/x64-Release
